<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/task 
     http://www.springframework.org/schema/task/spring-task-4.0.xsd"
>

    <aop:aspectj-autoproxy />
    <import resource="springdaoconfig.xml"/>
    <import resource="springjmsconfig.xml"/>
   
    <bean id = "accountService" class="cs544.bank.service.AccountService">
        <!--        <property name="logger" ref="logger"/>-->
        <property name="jmsSender" ref="jmsSender"/>
        <property name="currencyConverter" ref="currencyConverter"/>
        <property name="accountDAO" ref="accountDAO"/>      
        
        
    </bean>
    <bean id = "loggingaspect" class="cs544.aspect.LoggingAspect">
        <property name="logger" ref="logger"/>
        
    </bean>
    
    <bean id = "logger" class="cs544.bank.logging.Logger"/>
   
    <bean id = "currencyConverter" class="cs544.bank.service.CurrencyConverter"></bean>
  
    <task:annotation-driven executor="myExecutor" />
    <task:executor id="myExecutor" pool-size="5" />

</beans>
