<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
">
    <import resource="springdaoconfig.xml"/>
    <import resource="springjmsconfig.xml"/>
   
    <bean id = "accountService" class="cs544.bank.service.AccountService">
        <property name="logger" ref="logger"/>
        <property name="jmsSender" ref="jmsSender"/>
        <property name="currencyConverter" ref="currencyConverter"/>
        <property name="accountDAO" ref="accountDAO"/>      
        
        
    </bean>
    
    <bean id = "logger" class="cs544.bank.logging.Logger"/>
   
    <bean id = "currencyConverter" class="cs544.bank.service.CurrencyConverter"></bean>
  

</beans>
